img {
	width:500px;
	height:500px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

table, td.center {
	border: 2px #404040  solid;
	border-radius: 10px;
	margin-left: auto;
    margin-right: auto;
    font-family: helvetica;
	font-size: 16px;
}
th{
	font-size: 40px;
	font-family: helvetica;
	color:#404040;
}


body {
	padding-top: 80px;
	text-align: center;
	background-color: #FFFFFF;
}
#myinfo {
	text-align: left;
	width: 550px;
	padding-left:30px;
	padding-right: 30px;
}

#socialnetworking {
	margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-family: helvetica;
    font-size: 18px;
    border: 2px solid #404040;
    text-align: center;
    border-radius: 10px;
}

#navmenu {
	position:fixed;
	left: 0;
	top: 0;
	height: 40px;
	width: 100%;
	background-color: #404040;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#navmenu ul{
	list-style: none;
    background-color: #404040;
    text-align: center;
    margin-left: 25%;
    
    
}

#navmenu li{
	font-family: Helvetica;
    font-size: 100%;
    line-height: 0px;
    float: left;
    text-align: center;
    width: auto;
}

#navmenu a{
	display: block;
	height: 14px;
	width: auto;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
	margin-left:50%;
	color:#FFFFFF
}

#navmenu li a{
    font-weight: bold;
	color: #FFFFFF;
}

#navmenu a:hover, a.active {
	color:#404040;
	font-size: 17px;
	background-color:#FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

h3 {
	color: #404040;
	font-size: 24px;
}

span.center {
	font-family: helvetica;
    font-size: 18px;
}

li{
	font-family: helvetica;
	font-size: 16px;
}

